@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root {
    --header-color: #EEEEEE;
    --blue-color: #0ea5e9;
    --red-color: #dc2626;
}
/* Home Page  */

/* Header  */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-color);
    padding: 10px 80px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    opacity: 95%;
}
header .logo {
    height: 70px;
}
/* Navbar  */
.section-p1 {
    margin-top: -50px;
    padding: 50px 80px;
}
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}
#navbar li {
    list-style: none;
    padding: 0px 20px;
    position: relative;
}
#navbar li a:hover,
#navbar li a.active {
    color: var(--blue-color);
}
#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    position: absolute;
    background: #0984e3;
    bottom: -4px;
    left: 20px;
}
#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease-in-out;
}
#navbar li a .active {
    transition: 0.2s ease-in-out;
}
#navbar .cart-icon {
    position: relative;
}
#navbar .cart-icon p {
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
#navbar .cart-icon p i:hover {
    color: var(--blue-color);
}
#navbar .cart-icon p:hover {
    opacity: 80%;
}
#navbar .cart-icon .cart-number {
    position: absolute;
    top: -12px;
    right: -8px;
    font-size: 15px;
    color: #000;
}
/* End Navbar  */

/* Search box  */
search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}
.search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
    top: 50px;
}
.search-box:hover > .search-btn {
   background: white;
}
.search-btn{
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    text-decoration: none;
}
.search-txt{
 border: none;
 background: none;
 outline: none;
 float: left;
 padding: 0;
 color: #000;
 font-size: 16px;
 transition: 0.4s;   
 line-height: 40px;
 width: 0px;
}
/* End Search box  */
/* End Header  */

/* Footer  */
#footer {
    margin-top: 30px;
    width: 100%;
    /* position: absolute; */
    bottom: 0;
    background: linear-gradient(to right, #00093c, #fed7aa );
    color: #ffffff;
    padding: 50px 0px 30px;
    /* border-top-left-radius: 125px; */
    font-size: 15px;
    line-height: 20px;
}
.logo {
    width: 100%;
    margin-bottom: 10px;
}
.row {
    width: 85%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.col {
    flex-basis: 25%;
    padding: 10px;
}
.col:nth-child(2), .col:nth-child(3) {
    flex-basis: 15%;
}
.col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
    text-transform: uppercase;
}
.col .email-id {
    width: fit-content;
    margin: 20px 0;
    border-bottom: 1px solid #ccc;
}
.col .link-shop li {
    list-style: none;
    margin-bottom: 12px;
}
.col .link-shop li a {
    font-weight: 600;
    text-decoration: none;
    color: #ffffff;
}
.col .link-shop li a:hover {
    color: var(--blue-color);
}
.col form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
.col form i {
    font-size: 18px;
    margin-right: 10px;
    
}
.col form input {
    width: 100%;
    background: transparent;
    color: #000;
    border: 0;
    outline: none;
}
.col form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
.col form button i {
    font-size: 18px;
    color: #fff;
}
.col .social-icon i {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #ffffff;
    margin-right: 15px;
    cursor: pointer;
}
.col .social-icon i:hover {
    color: var(--blue-color);
}
.col .underline {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.col .underline span {
    width: 15px;
    height: 100%;
    background: #ffffff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
@keyframes moving {
    0% {
        left: -20px;
    }
    100% {
        left: 100%;
    }
}
hr  {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copyright {
    text-align: center;
}
@media (max-witdh: 700px) {
    footer {
        bottom: unset;
    }
    .col {
        flex-basis: 100%;
    }
    .col:nth-child(2), .col:nth-child(3) {
        flex-basis: 100%;
    }
}
/* End Footer  */

/* End Home Page  */

/* Shop Page  */
#page-header {
    background-image: url(../img/pay/bannerpaycart.jpg);
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
    margin-bottom: 2px;
}
#page-header > h2 {
    color: yellow !important;
    font-size: 40px !important;
}
#page-header h2,
#page-header p {
    color: #ffffff;
    font-size: 35px;
}
/* End Shop Page  */

/* cart pay  */
#showcart {
    position: fixed;
    border-radius: 10px;
    right: 20px;
    top: 80px;
    padding: 10px;
    background-color: #EEE;
    border: 1px #CCC solid;
}
.cart-pay {
    width: 100%;
    padding: 10px 50px;
}
.pay-button .pay-btn {
    font-size: 14px;
    font-weight: 600;
    padding: 10px 5px;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background-color: #ccc;
    color:#000;
    transition: 0.3s ease-in-out;
}
.pay-button .pay-btn:hover {
    background-color: var(--blue-color);
    opacity: 90%;
    color: #ffffff;
}
table {
    margin-bottom: 10px;
    width: 100%;
    border-collapse: collapse;
}
th {
    background-color: #999;
    padding: 10px;
    text-transform: uppercase;
}
th,
td {
    border: 1px #CCC solid;
    text-align: center;
}
th div {
    color: var(--red-color);
}
td img {
    width: 100px;
}
#remove {
    position: relative;
    top: -30px;
    float: right;
    padding: 5px 10px;
    font-weight: 500;
    border: none;
    border-radius: 3px;
    padding: 8px 4px;
    cursor: pointer;
    outline: none;
    background-color: #ef4444;
    color: #ffffff;
    transition: 0.3s ease-in-out;
}
#remove:hover {
    background-color: #dc2626;
}
#mycart .delete-btn {
    background: transparent;
    border: none;
    outline: none;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
#mycart .delete-btn i:hover {
    color: #dc2626;
}
/* end cart pay  */

/* fomr pay  */
.box-cart-1 h1 {
    text-align: center;
    text-transform: uppercase;
    color: var(--blue-color);
}
.box-cart-2 form{
    margin-top: 10px;
    padding:20px;
    width:100%;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
}
.box-cart-2 form .row {
    display: flex;
    flex-wrap: wrap;
    gap:15px;
}
.box-cart-2 form .row .col {
    flex:1 1 250px;
  }
.box-cart-2 form .row .col .title {
    text-transform: uppercase;
    font-size: 20px;
    color:#333;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.box-cart-2 form .row .col .inputBox {
    margin:15px 0;
}
.box-cart-2 form .row .col .inputBox span {
    margin-bottom: 10px;
    display: block;
}
.box-cart-2 form .row .col .inputBox input {
    width: 100%;
    border:1px solid #ccc;
    padding:10px 15px;
    font-size: 15px;
    text-transform: none;
}
.box-cart-2 form .row .col .inputBox input:focus {
    border:1px solid #000;
} 
.box-cart-2 form .row .col .flex {
    display: flex;
    gap:15px;
}
.box-cart-2 form .row .col .flex .inputBox {
    margin-top: 5px;
}
.box-cart-2 form .row .col .inputBox img {
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
}
.box-cart-2 form .submit-btn {
    width: 100%;
    padding:18px;
    font-size: 17px;
    background: #27ae60;
    color:#fff;
    margin-top: 5px;
    cursor: pointer;
  }
.box-cart-2 form .submit-btn:hover {
    background: #2ecc71;
}
/* end form pay  */
/* reassurance  */
.reassurance {
    margin-top: 50px;
    padding: 50px 0;
    background: #fff;
    border-top: 1px solid #a2a2a2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reassurance .reassurance-container {
    list-style: none;
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.reassurance .reassurance-container li {
    display: inline-block;
    list-style: none;
    padding: 2rem 0;
}
.reassurance .reassurance-container li p {
    width: 150px;
    display: block;
    font-size: 15px;
    margin-left: 50px;
    text-align: center;
    color: #9e9fa1;
    margin: 0;
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: center;
}
.reassurance .reassurance-container li img {
    height: 95px;
    margin-bottom: -3px;
    transition: all .3s;
    filter: grayscale(100%) opacity(.5);
}
.reassurance .reassurance-container li img:hover {
    filter: none;
}
/* end reassurance */

/* Pay checkout  */
#page-header2 {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 8px;
    margin-bottom: -60px;
}
#page-header2 > h2 {
    text-transform: uppercase;
    color: #059669 !important;
    font-size: 40px !important;
}
#page-header2 h2,
#page-header2 p {
    color: #ccc;
    font-size: 35px;
}
.customerinformation {
    text-transform: uppercase;
    padding: 10px;
    font-size: 25px;
    text-align: center;
    font-weight: 600;
}
.inputBox2 {
    font-size: 18px;
    letter-spacing: 1px;
    padding: 4px 0px;
    color: #dc2626;
}
.inputBox2 > span {
    font-weight: 500;
    color: #000 !important;
}
#mobile {
    display: none;
    align-items: center;
}
#close-bar {
    display: none;
}
/* Responsive  */
@media (max-width:799px) {
    .section-p1 {
        padding: 40px 40px;
    }
    #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0px;
    right: -350px;
    height: 100vh;
    width: 300px;
    background-color: var(--header-color);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s ease-in;
}
    #navbar li {
        margin-bottom: 25px;
    }
    #navbar.active {
        right: -50px;
    }
    .search-box:hover > .search-txt {
        width: 200px;
        padding: 0 6px;
        top: 50px;
    }
    #close-bar {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 24px;
        color: #000;
    }
    #lg-bag {
        opacity: 0%;
    }
    #mobile {
    display: flex;
    align-items: center;
}
    #mobile i {
        color: #000;
        font-size: 24px;
        padding-left: 20px;
    }
    #feature {
        margin-top: 10px;
        justify-content: center;
    }
    #feature .fe-box {
        margin: 15px 15px;
    }
    #product1 #products-container {
        justify-content: center;
    }
    #product1 .product {
        margin: 15px;
        min-width: 264px;
    }
    #banner2 {
        height: 20vh;
    }
    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
        margin-bottom: 10px;
    }
    #banner3 {
        padding: 0 40px;
    }
    #banner3 .banner-box {
        width: 28%;
    }
    #newsletter .form {
        width: 70%;
    }
}

#login {
    font-size: 20px;
    text-decoration: none;
    color: #ef4444;
    margin-left: 5px;
    cursor: pointer;
    text-align: center;
    transition: 0.2s ease-in-out;
}
#login i {
    padding: 5px 5px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 5px;
}
#login:hover {
    color: #b91c1c;
}